@page
@model overviewModel

Welkom, @Model.user.UserName!

Selecteer een tafel:
<form method="post">
@{
    foreach (var x in @Model.tables)
    {
            @x.Name <input type="radio" id="@x.RTableId"value="@x.RTableId" name="tableselect" asp-for="RTableId">

            <br />
    }
}
<input type="submit" value="selecteer"/>
</form>