@page
@model overviewModel

<h1 style="font-weight: bold">Welkom, @Model.user.UserName!</h1>

<h2>Selecteer een tafel:</h2>
<form method="post">
@{
    foreach (var x in @Model.tables)
    {
        <label class="form-check-label" for="flexRadioDefault1" style="margin-right: 5px">
            @x.Name
        </label>
        <input class="form-check-input" type="radio" id="@x.RTableId" value="@x.RTableId" name="tableselect" asp-for="RTableId">
            
            <br />
    }
}
    <button type="submit" class="btn btn-primary">Selecteer</button>
</form>