@page
@model WebdevProjectStarterTemplate.Pages.Rest.Alles_betalenModel
@{
}
<h1><b>Rekening</b></h1>
<p>De rekening voor tafel: <a style="font-weight: bold">@Model.RTableId</a></p>
<form method="post">
<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Product</b></td>
            <td><b>Betaald</b></td>
            <td><b>Prijs per stuk</b></td>
            <td><b>Totaal</b></td>
        </tr>
    </thead>
    <tbody>
        @{
            decimal alles = 0;
            foreach (var order in Model.orders)
            {
                alles += order.Total;
                <tr>
                    <td>@order.Name</td>
                    <td>@order.AmountPaid van de @order.Amount</td>
                    <td>@order.Price</td>
                    <td>@order.Total</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>@alles</b></td>
        </tr>
    </tfoot>
</table>
    <button class="btn btn-danger">Betaal</button>
    <a class="btn btn-secondary" asp-area="" asp-page="/Rest/Per persoon betalen">Per persoon betalen</a>
</form>