@page
@model WebdevProjectStarterTemplate.Pages.Rest.Alles_betalenModel
@{
}
<h1><b>Rekening</b></h1>
de geselecteerde tafel is @Model.RTableId
<table class="table table-striped">
    <thead>
        <tr>
            <td><b>product</b></td>
            <td><b>hoeveelheid</b></td>
            <td><b>prijs</b></td>
            <td><b>totaal</b></td>
        </tr>
    </thead>
    <tbody>
        @{
            decimal alles = 0;
            foreach (var order in Model.orders)
            {
                alles += order.Total;
                <tr>
                    <td>@order.Name</td>
                    <td>@order.Amount</td>
                    <td>@order.Price</td>
                    <td>@order.Total</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>€€€</b></td>
        </tr>
    </tfoot>
</table>
