@page
@model WebdevProjectStarterTemplate.Pages.BestellenModel
@{
}
<h1><b>Bestellen</b></h1>
de geselecteerde tafel is @Model.order.RTableId

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                    @foreach (var category in @Model.CategoriesWithProduct)
                    {
                        <tr>
                            <td onclick="showCategory('@category.Name')">@category.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col">

            <table class="table table-striped">
                <thead>

                </thead>
                <tbody>
                @foreach (var category in @Model.CategoriesWithProduct)
                {
                    foreach (var product in category.Products)
                    {
                        <tr class="productsview @category.Name">
                            <td >
                            @product.Name 
                            </td>
                            <td>
                                    <button onclick="addRow('@product.Name', '@product.ProductId')">+</button>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <form method="post")>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><b>product</b></td>
                        <td><b>amount</b></td>
                    </tr>
                </thead>
                <tbody id="ordertable">

                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td><input type="submit" /></td>
                    </tr>
                </tfoot>
            </table>
            </form>
        </div>

    </div>
</div>
<script>

    
    function addRow(product, id){
        var element = document.getElementById(id)
        if (!element) {
        var newRow = document.createElement("tr");
        newRow.id = id;
            newRow.innerHTML = `<td>${product}</td><td><button type="button" onclick="decreaseAmount(${id})">-</button> <div id ="amount${id}">1</div>  <button type="button" onclick="increaseAmount(${id})">+</button>    <input type="hidden" name="orderid${id}" value="${id}"> <input id ="order${id}" type="hidden" name="orderamount${id}" value="1"></td>`;
        document.getElementById("ordertable").appendChild(newRow);
        }
        else {
            increaseAmount(id);
        }
    }
    function hideAllProducts(){
        var elements = document.getElementsByClassName("productsview");
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.display = "none";
        }
    }
    function showCategory(id){
        hideAllProducts();
        var elements = document.getElementsByClassName(id)
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.display = "flex";
        }
    }
    function increaseAmount(id){
        var amountid = `amount${ id }`
        var newid = `order${id}`;
        var element = document.getElementById(newid)
        element.value = Number(element.value) +1

        var element = document.getElementById(amountid)
        element.innerHTML = Number(element.innerHTML) +1
    }
    function decreaseAmount(id){
        var amountid = `amount${id}`
        var newid = `order${id}`;
        var element = document.getElementById(newid)
        if (element.value < 2){}
        else {
        element.value = Number(element.value) - 1

        var element = document.getElementById(amountid)
        element.innerHTML = Number(element.innerHTML) - 1
        }
    }
    function deleteOrder(id){

    }
    hideAllProducts();

</script>