@page
@model WebdevProjectStarterTemplate.Pages.Rest.OverzichtModel
@{
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1><b>Overzicht</b></h1>
<p>De geselecteerde tafel is <a style="font-weight: bold">@Model.RTableId</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Product</b></td>
            <td><b>Hoeveelheid</b></td>
            <td><b>Prijs</b></td>
            <td><b>Totaal</b></td>
        </tr>
    </thead>
    <tbody>
        @{
            decimal alles = 0;
            foreach(var order in Model.orders)
            {
                alles += order.Total;
                <form method="post">
                <input type="hidden" value="@order.Amount" name="Amount">
                <input type="hidden" value="@order.ProductId" name="ProductId">

                <tr>
                    <td>@order.Name</td>
                    <td>
                        <button class="btn btn-outline-dark btn-sm" asp-page-handler="Decrement">-</button>
                        <a style="margin: 5px">@order.Amount</a>
                        <button class="btn btn-outline-dark btn-sm" asp-page-handler="Increment">+</button>
                    </td>
                    <td>@order.Price</td>
                    <td>@order.Total</td>
                </tr>
                </form>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>@alles</b></td>
        </tr>
    </tfoot>
</table>

<a class="btn btn-primary" asp-area="" asp-page="/Rest/Alles betalen">Alles betalen</a>
<a class="btn btn-secondary" asp-area="" asp-page="/Rest/Per persoon betalen">Per persoon betalen</a>