@page
@model WebdevProjectStarterTemplate.Pages.Rest.OverzichtModel
@{
}
<h1><b>Overzicht</b></h1>
de geselecteerde tafel is @Model.RTableId
<table class="table table-striped">
    <thead>
        <tr>
            <td><b>product</b></td>
            <td><b>hoeveelheid</b></td>
            <td><b>prijs</b></td>
            <td><b>totaal</b></td>
        </tr>
    </thead>
    <tbody>
        @{
            decimal alles = 0;
            foreach(var order in Model.orders)
            {
                alles += order.Total;
                <form method="post">
                <input type="hidden" value="@order.Amount" name="Amount">
                <input type="hidden" value="@order.ProductId" name="ProductId">

                <tr>
                    <td>@order.Name</td>
                    <td><button asp-page-handler="Decrement">-</button>@order.Amount<button asp-page-handler="Increment">+</button></td>
                    <td>@order.Price</td>
                    <td>@order.Total</td>
                </tr>
                </form>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>@alles</b></td>
        </tr>
    </tfoot>
</table>

                    <a class="nav-link text-dark" asp-area="" asp-page="/Rest/Alles betalen">Alles betalen</a>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Rest/Per persoon betalen">Per persoon betalen</a>